# ---------------------------
# Python cache
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# VS Code settings
# ---------------------------
.vscode/

# ---------------------------
# System files
# ---------------------------
.DS_Store
Thumbs.db


# ---------------------------
# Model file (we download it at runtime, no need to track)
# ---------------------------
predictWaste12.h5

# ---------------------------
# Streamlit logs
# ---------------------------
*.log

# ---------------------------

# Virtual Environment
hack/





